<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleados con Mayor Salario</title>
</head>
<body>

<div class="container">
    <h1>Empleados con Mayor Salario en la Empresa</h1>
    <!-- COMPLETAR -->
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Puesto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empXsalary:${empleadosMayorSalario}">
            <td th:text="${empXsalary.getfirst_name()}"></td>
            <td th:text="${empXsalary.getlast_name()}"></td>
            <td th:text="${empXsalary.getfecha_inicio()}"></td>
            <td th:text="${empXsalary.getfecha_fin()}"></td>
            <td th:text="${empXsalary.getjob_title()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>